body { background: #d277b6; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 27px; display: flex; }
.block-payment-0 { color: #986dae; font-size: 16px; margin-bottom: 5px; }
.block-notify-1 { color: #5f4cdb; font-size: 12px; margin-bottom: 5px; }
.block-router-2 { color: #9b092d; font-size: 18px; margin-bottom: 5px; }
.block-sms-3 { color: #f9666c; font-size: 18px; margin-bottom: 5px; }
.block-logger-4 { color: #ec359b; font-size: 13px; margin-bottom: 5px; }
.block-auth-5 { color: #df77ee; font-size: 13px; margin-bottom: 5px; }
.block-config-6 { color: #1f7607; font-size: 14px; margin-bottom: 5px; }
.block-email-7 { color: #6587fb; font-size: 14px; margin-bottom: 5px; }
.block-metrics-8 { color: #1f515e; font-size: 19px; margin-bottom: 5px; }